


.fondo{
	background-image: url("../images/1920x665-1.jpg");
	background-size: cover;
	padding: 6% 6%;
	opacity: 1.5;
}

.btn-info{
	border-radius: 25px;

}

.cel{
	width: 100%;
	padding:60px;

}

.cel2{
	width: 100%;

}

.medio{
	padding-top: 40px;
	
}

